@import '../../styles/variables';

.dashboard-nav{
    padding-top: 4%;
    display: grid;
    width: 80%;
    justify-content: space-around;
    align-items: center;
    grid-template-columns: repeat(auto-fit, 100px);

    button{
        margin: 10px 0px;
    }

}
