@import '../../styles/variables';

footer{
    @include flexCenter();
    align-items: center;
    width: 100%;
    background-color: $secondaryCol;  
    position:relative;
    left:0;
    bottom:0;
    right:0;  
    .bg{
        background-image: url(../../img/landing-page/footer-bg.svg);
        background-repeat: repeat;
        background-size: contain;
        width: 100%;
        height: 370px;
        margin-top: -10% ;

    }
}