@import '../../styles/variables';

footer{
    @include flexCenter();
    width: 100%;
    margin: 0;


    .bg{
    background-image: url(../../img/landing-page/footer-bg.svg);
    background-repeat: no-repeat;
    width: 100%;
    height: 842px;

    }
}