@import './variables';

.popup {
    position: fixed;
    z-index: 1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: $backgroundCol;
    scroll-behavior: smooth;
    overflow:scroll;
  }
  
  .popup-inner {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 30%;
    position: relative;
    transition: all 5s ease-in-out;
  
    h2 {
      margin-top: 0;
    }
    
    .close-btn {
      position: absolute;
      top: 20px;
      right: 30px;
      transition: all 200ms;
      font-size: 30px;
      font-weight: bold;
      text-decoration: none;
      background-color: #00000000;
      color: $primaryCol;
      
      &:hover {
        background-color: #00000000;
        color: $secondaryCol;
      }
    }
    
    .content {
      max-height: 30%;
      overflow: auto;
    }
  }