@import '../features/landing-page/landing';
@import '../components/navbar/navbar';
@import '../components/footer/footer';
@import './variables';

@mixin flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    @include flexCenter();
    flex-direction: column;
    width: 100%;
    max-width: 1440px;
    margin: auto;
    color: $black;

    button{
        color: white;
        background-color: $primaryCol;
        border: 0;
        height: 30px;
        align-items: center;
        justify-content: center;
    }

    a{
        color: inherit;
        text-decoration: inherit;
    }
}
