@import '../features/landing-page/landing';
@import '../components/navbar/navbar';
@import '../components/footer/footer';
@import './variables';

@mixin flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    @include flexCenter();
    flex-direction: column;
    width: 100%;
    max-width: 1440px;
    margin: auto;
    color: $black;
    padding-bottom: 15%;
    scroll-behavior: smooth;

    button{
        color: white;
        background-color: $primaryCol;
        border: 0;
        height: 30px;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        transition: all 0.25s ease-out;
        &:hover {
            color: white;
            background-color: $secondaryCol;
          }
    }

    a{
        color: inherit;
        text-decoration: inherit;
    }

    ul, ol {
        list-style: none;
        padding: 0;
        margin: 0   ;
        transition: all 0.2s ease-out;
    }
}
